//  colors
$body-bg: #fff;
$text-color: #333;
$brand-red: #FF0000;

// link colors
$link-color: #161D56;
$link-color--hover: darken($link-color, 20%);

//  typography
$font-family: 'Montserrat', sans-serif;
$font-size: 16px;
$font-weight: 400; // Regular
$line-height: 1.2;

// container width
$container-padding: 15px;
$container-width: 1170px + $container-padding * 2;

//  adaptive

$screen-xs: 320px;
$screen-sm: 480px;
$screen-m: 568px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
$screen-xxxl: 1600px;
